@import "./roboto.css";

.textarea {
  font-family: "Roboto", sans-serif;
  font-size: 0.95em;
  resize: none;
  margin: 6px 0;
  padding: 7px;

  width: 350px;
  height: 80px;

  border-radius: 5px;
}

.label {
  margin-top: 10px;
}
